body {
  font-size: 16px;
  /*color: #fff;*/
  background-color: white;
 }

/** HEADER **/
.navbar {
  background-color: black;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggle{
  border: 2px solid white;
  margin-right: 25px;
}

.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.row{
  margin: 20px;
}

.item-name{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.content-box{
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: grey;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}

.nav-link{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
}

.nav-link:hover{
  background-color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.4);
}
